{
  "presets": [[
    "es2015",
    {
      "modules": false
    }
  ]],
  "plugins": ["transform-runtime", "add-module-exports"],
  "ignore": [
    "dist/*.js",
    "example/**",
    "node_modules/**"
  ]
}
